<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fongwell.satchi.crm.core.resource.query.AdminResourceQueryMapper">

    <resultMap id="resourceItem" type="java.util.HashMap">
        <result column="id" property="id"/>
        <result column="url" property="sourceUrl"/>
    </resultMap>


    <select id="queryResources" resultMap="resourceItem">

        select id,url from crm_resource
        where type = #{type}
        order by createdDate desc
        offset #{from}
        limit #{size}
    </select>


    <select id="countResources" resultType="int">

        select count(1) from crm_resource
        where type = #{type}
    </select>
</mapper>