<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fongwell.satchi.crm.core.credit.query.mapper.CreditQueryMapper">


    <resultMap id="config" type="java.util.HashMap">
        <result property="enabled" column="enabled"/>
        <result property="expiration" column="expiration"/>
        <association property="consumeConfiguration" javaType="java.util.HashMap">
            <result property="credit" column="ccc_credit"/>
            <result property="cash" column="ccc_cash"/>
            <result property="enabled" column="ccc_enabled"/>
            <result property="option" column="ccc_option"/>
            <result property="maxCreditPerOrder" column="ccc_maxCreditPerOrder"/>
            <result property="maxDiscountPercentage" column="ccc_maxDiscountPercentage"/>
        </association>
        <collection property="sources" ofType="java.util.HashMap" javaType="java.util.LinkedList">
            <result property="credit" column="s_credit"/>
            <result property="type" column="s_type"/>
            <result property="enabled" column="s_enabled"/>
        </collection>

    </resultMap>

    <select id="queryCredits" resultType="java.lang.Integer">

       select credits from crm_customer_credit where id =#{customerId}
    </select>

    <!--    <resultMap id="creditRecordItem" type="hashmap">
            <result property="id" column="id"/>
            <result property="orderid" column="orderid"/>
            <result property="source" column="source"/>
            <result property="type" column="type"/>
            <result property="price" column="price"/>
            <result property="credits" column="credits"/>
        </resultMap>

        <select id="queryCreditRecords" resultMap="creditRecordItem">
            select id, orderid,createdDate, source,type,price,credits
            from crm_customer_credit_record
            where customer_id = #{customerId}
            order by createdDate desc offset #{from} limit #{size}
        </select>-->

    <!--yzq-->
    <resultMap id="creditRecordItem" type="hashmap">
        <result property="id" column="id"/>
        <result property="orderid" column="orderid"/>
        <result property="source" column="source"/>
        <result property="type" column="type"/>
        <result property="price" column="price"/>
        <result property="credits" column="credits"/>
    </resultMap>

    <select id="queryCreditRecords" resultMap="creditRecordItem">
        select id, orderid,createdDate, source,type,price,credits
        from crm_customer_credit_record
        where customer_id = #{customerId}
        order by createdDate desc offset #{from} limit #{size}
    </select>

    <select id="customerCreditTotal" resultType="int">
        select credits from crm_customer_credit where customerid = #{customerId}
    </select>

    <select id="queryEnabled" resultType="boolean">
        select enabled from crm_credit_configuration where id = -1
    </select>


</mapper>


