<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fongwell.satchi.crm.core.homePage.mobileHomePage.query.WxMobileHomePageMapper">

    <resultMap id="homePage" type="hashmap">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="imageUrl" property="imageUrl"/>
        <result column="state" property="state"/>
        <result column="createdDate" property="createdDate"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="url" property="url"/>
        <association property="linkConfig" javaType="java.util.HashMap">
            <result column="link_type" property="type"/>
            <result column="link_id" property="id"/>
        </association>
        <association property="skus" column="id" javaType="list" select="selectSkus"/>
    </resultMap>

    <sql id="findHomePage">
        select
         link_type,link_id,
         p.id,p.title,p.imageUrl,p.createdDate,p.orderNumber,p.state,p.url,
        case when p.state = 'enable' then 0
             when p.state = 'disable' then 1
             else 1 end as o
             from crm_mobile_home_page p
    </sql>

    <select id="findAll" resultMap="homePage">
        <include refid="findHomePage"/>

        where deleted = false
        <if test="request.query != null and request.query != ''">
            <bind name="queryData" value="'%'+request.query+'%'"/>
            and p.title ilike #{queryData}
        </if>
       and p.state = 'enable'
        order by o,orderNumber,lastmodifiedDate
        <if test="request.from > 0">offset #{request.from}</if>
        <if test="request.size > 0">limit #{request.size}</if>
    </select>

    <select id="selectSkus" resultType="hashmap">
        select sku.product_id as "productId",sku.id as "skuId",cp.name as name,cp.number as number,cp.postage,cp.introduction,cp.composition,cp.delivery
        from crm_product cp
        inner join crm_sku sku on sku.product_id = cp.id
        where cp.state = 'enable' and cp.deleted = false and sku.deleted = false
        order by sku.lastmodifiedDate desc
        limit 3
    </select>

    <select id="get" resultMap="homePage">
        <include refid="findHomePage"/>
        where id = #{id}
    </select>
</mapper>