<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fongwell.satchi.crm.core.customer.query.mapper.WxUserMapper">

    <select id="getWxPortrait" resultType="string">
        select headimgurl from crm_wx_user where id = #{wxId}
    </select>

</mapper>