<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fongwell.satchi.crm.core.category.query.AdminCategoryQueryMapper">
    <resultMap id="category" type="hashmap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="pcImageUrl" column="pcImageUrl"/>
        <result property="mobileImageUrl" column="mobileImageUrl"/>
        <result property="createdDate" column="createdDate"/>
        <result property="lastmodifiedDate" column="lastmodifiedDate"/>
        <result property="orderNumber" column="orderNumber"/>
    </resultMap>

    <sql id="findCategory">
        select id,name,pcImageUrl,mobileImageUrl,createdDate,lastmodifiedDate,orderNumber
        from crm_category c
    </sql>

    <select id="findAll" resultMap="category">
        <include refid="findCategory"/>
        where c.deleted = false
        <if test="request.states != null and request.states.size() > 0">
            and c.state in
            <foreach collection="request.states" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by orderNumber,lastmodifiedDate desc
        <if test="request.from > 0">offset #{request.from}</if>
        <if test="request.size > 0">limit #{request.size}</if>
    </select>

    <select id="count" resultType="integer">
        select count(1)
        from crm_category c
        where c.deleted = false
        <if test="request.states != null and request.states.size() > 0">
            and c.state in
            <foreach collection="request.states" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="get" resultMap="category">
        <include refid="findCategory"/>
        where id = #{id} and deleted = false
    </select>

    <select id="generalList" resultMap="category">
        select id,name
        from crm_category c
        where deleted = false
        order by orderNumber,lastmodifiedDate desc
    </select>
</mapper>